input[type='file'] {
  color: transparent;
}
.file-input {
  position: relative;
  &::before {
    position: absolute;
    content: 'attach your picture here';
    color: #18363d;
    font-size: 18px;
    font-weight: bold;
    background-image: url('../../../../assets/images/camera.svg');
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: center;
    margin: 40px 0 10px 50px;
    height: 130px;
  }
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
  border-radius: 20px !important;
  height: 150px;
  width: 300px;
  background-color: white;
}
.dummy-list-container{
  height: 600px;
  overflow: auto;
  background-color: white;
  border-radius: 35px;
  & .table {
    width: 95%;
    margin-left: 50px;
    margin-top: 15px;
    color: #18363d;
    & .image-col{
      padding-right: 110px;
    }
    & th{
      padding-left: 25px;

    }
  }
}
.dl-top-banner{
  height: 100px;
  & button {
    float: right;
    font-size: 36px;
    padding: 8px;
  }
  & h1 {
    font-size: 60px;
    float: left;
  }
  & .btn-m{
    font-size: 25px;
    min-width: 115px;
    height: 60px;
    float: right;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.dummy-container{
& .dummy-image> img{
  width: 60px;height: 60px;
  border-radius:50% ;
} 
& .text-fields {
 padding-top: 20px;
 & input{
  border-radius:0;
   border: none;
   background-color:#F1F9FB ;
   height:50px ;
   font-size: 20px;
   font-weight: 500;
   &:disabled{
    background-color: transparent;   
}
 }

}
& .btn-m{
  font-size: 25px;
  min-width: 115px;
  height: 60px;
  float: right;
}

& .img-btn{
  width:30px;
  height: 30px;
  margin: 20px 15px 10px 15px;
  cursor: pointer;
 &:hover{
    background-color:#F1F9FB ;
    box-shadow: 5px 15px #cfcece;
    filter: blur(1px);
  }
}
& .action-btn-area{
  text-align: right;
}
}
