.ml-container {
  height: 100vh;
  input {
    border-radius: 37px;
    max-width: 75vw;
  }
  label {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
.ml-mid::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 10%;
  background-color: white;
  border-radius: 0 0 0 100%/0 0 0 105%;
  transform: scale(2.5);
}
.ml-mid {
  position: relative;
  margin: 0, auto;
  background-color: #18363d;
  overflow: hidden;
}
.ml-context::before {
  content: '';
  position: absolute;
  top: 0;
  width: 50px;
  height: 21px;
  background-image: url('../../assets/images/logo-new/logo-sm.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.ml-context {
  position: relative;
  width: 90%;
  height: 85vh;
  margin-left: 80px;
  z-index: 1;
  margin-top: 90px;
  padding-top: 20px;
  & .stamp {
    color: white;
    font-size: 40px;
    line-height: 0.8;
  }
}

.dynamic-view-port {
  margin-top: 50px;
  height: 68vh;
  color: white;
}
.btn-m {
  border: 1px solid #707070;
  border-radius: 37px;
  background-color: #18363d;
  color: white;
  min-width: 300px;
  margin: 10px;
  &:hover {
    background-color: #18360d;
    border: 1px solid #707070;
  }
}
