.welcome-container {
  margin-top: 150px;
  padding-right: 60px;
  overflow: auto;
  p {
    font-size: 35px;
  }
  h1 {
    font-size: 55px;
  }
  .btn-dummy {
    font-size: 30px;
    margin-top: 50px;
    margin-left: 0;
  }
}
