.login-wrapper {
  background-color: white;
}
.login-left::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background-color: #18363d;
  border-radius: 0 50% 50% 0/0 100% 100% 0;
  transform: scale(1.2);
}
.login-left {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  & .login-form-wrap {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    text-align: left;
    color: white;
    .login-input {
      min-width: 35vw;
      min-height: 55px;
      border-radius: 25px 25px 25px 25px;
      margin-bottom: 40px;
    }
  }
}
.greeting {
  & h1 {
    // font-family: 'Gibson Regular';
    font-size: 75px;
  }
  margin-bottom: 100px;
  p {
    font-size: 43px;
    line-height: 1;
  }
}
.login-input::placeholder {
  color: #18363d;
  font-size: 25px;
  font-weight: bold;
  padding-left: 20px;
}
.login-right {
  display: grid;
  place-items: left;
  width: 100%;
  .context-logo {
    display: block;
    padding-top: 35%;
    padding-left: 80px;
    p {
      font-family: 'Gibson Regular';
      letter-spacing: 0px;
      color: #18363d;
      font-size: 175px;
      line-height: 0.8;
    }
  }
}
.btn-login {
  width: 190px;
  height: 70px;
  background-color: #18363d;
  color: white;
  border: 1px solid #707070;
  border-radius: 37px;
  font-size: 25px;
  &:hover {
    background-color: #1f434b;
  }
}
