.wrapper-row {
  height: 100vh;
}
.modal-backdrop {
  background-color: black;
  backdrop-filter: blur(90px);
}
.modal-content {
  border-radius: 20px;
  & .alert-model{
    padding: 3rem;
    text-align: center;
    & button{
      margin:10px;
      border: 1px solid #707070;
      border-radius: 37px;
      background-color: #18363d;
      color: white;
      min-width: 125px;
      font-size: 25px;
      &:hover {
        background-color: #18360d;
        border: 1px solid #707070;
      }
    }
    & h4{
      font-size: 40px;
    }
    & p {
     
    font-size: 28px;

    }
  }
}
